.burgerConstructor {

}

.burgerConstructor ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.burgerConstructor ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total .amount {
    font-family: 'Iceland', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
}
