.main {
  display: flex;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.menu li {
  display: block;
  margin: 0;
  padding: 0;
  color: #8585AD;
}

.menu li a, .menu li button {
  color: #8585AD;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  padding: 0;
}

.menu li a.active, .menu li button.active {
  color: white !important;
}

.help {
  color: #8585AD;
  margin-top: 40px;
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}