.title {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.tabs {
    display: flex;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 563px;
    overflow-y: scroll;
}

.type {
    display: flex;
    flex-direction: column;
}

.typeTitle {
    display: flex;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    padding: 0;
}

.ingredient {
    display: block;
    position: relative;
    flex: 1;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.name {
    text-align: center;
}
