.header {
    display: flex;
    background: #1C1C21;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04),
                0 16px 24px rgba(0, 0, 0, 0.04),
                0 4px 8px rgba(0, 0, 0, 0.04),
                0 0 1px rgba(0, 0, 0, 0.04);
    justify-content: space-between;
    white-space: nowrap;
}

.logo {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.header nav {
    flex: 1;
}

.header nav ul {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.header nav:last-child ul {
    justify-content: flex-end;
}

.header nav ul li {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.header nav ul li a {
    color: #8585AD;
    display: flex;
    text-decoration: none;
}

.header nav ul li.active a {
    color: white;
}
