.ingredient {
  display: block;
  flex: 1;
  max-width: 270px;
  position: relative;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.name {
  color: white;
  text-align: center;
  text-decoration: none;
}

.price {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  text-decoration: none;
}
